/*Modify font for entire app*/
* { font-family: helvetica; }

/*Modify headers*/
h1 {
	color: #327462;
}

h2 {
	color: #327462;
}

h3 {
	color: #327462;
}

h4 {
	color: #327462;
}

/*Modify p*/
p {
	font-size: 16px;
}